.nav {
    display: flex;
    flex-direction: row;
    background-color: midnightblue;
    height: 8em;
}

#connor {
}

#logo {
    align-self: flex-start;
    margin-right: 1em;
    max-height: 8em;
}
.connor {

}